// ----- FONTS ----- //

@font-face {
    font-family: 'Caviar Dreams';
    src: url('/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('/fonts/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('/fonts/CaviarDreams_Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Brittany Signature';
    src: url('/fonts/BrittanySignature.ttf') format('truetype');
}

@font-face {
    font-family: 'Blacker Sans';
    src: url('/fonts/Blacker-Sans-Extrabold-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Coco Gothic Bold Italic';
    src: url('/fonts/CocoGothic-BoldItalic_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Chocolade';
    src: url('/fonts/TT\ Chocolates\ Trial\ Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'TT Chocolade';
    src: url('/fonts/TT\ Chocolates\ Trial\ Bold.otf') format('truetype');
    font-weight: bold;
}


// ----- FONT-SIZE ----- //

$--fs-extralarge: 3rem;
$--fs-large: 1.5rem;
$--fs-medium:1.2rem;
$--fs-small: 1rem;


// ----- COLORS ----- //

$pink: #CC7173;
$pink-dark: #984E52;
$pink-light: #F7EBE8;


// ----- DEFAULT STYLE ----- //

* {
    font-family: 'Caviar Dreams', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    color: $pink-dark
}

nav, footer, nav a, footer a {
    color: $pink-light;
}


// ----- COMMON MODIFIERS ----- //

.background-pink {
    background-color: $pink;
}

.txt-pinklight {
    color: $pink-light;
}

.txt-pinkdark {
    color: $pink-dark;
}

.glow-pinkdark {
    filter: drop-shadow(5px 5px 5px $pink-dark);
}

.shadow {
    filter: drop-shadow(1px 5px 3px rgba(0, 0, 0, 0.5));
}

.caviar-bold {
    font-family: 'Caviar Dreams';
    font-weight: bold;
}

.coco-bold-italic {
    font-family: 'Coco Gothic Bold Italic';
}

.degrade-txt-pink {
    color: linear-gradient(90deg, rgba(204,113,115,1) 0%, rgba(247,235,232,1) 50%); 
}

strong {
    font-family: 'TT Chocolade';
    color: #984E52;
}


// ----- CSS ----- //

header {
    position: relative;
}

.welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-image: url("/styles/pellenc.png");
    background-size: cover;
    background-position: center;    

    .home {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


        img {
            height: 50%;
            filter: drop-shadow(5px 5px 5px $pink-dark);
        }

        h1 {
            font-family: 'Blacker Sans';
            font-size: clamp($--fs-large, 1.5vw, $--fs-extralarge);
            text-align: center;

            padding-inline: 1rem;
        }

        h2 {
            font-style: italic;
            font-size: clamp($--fs-medium, 1.5vw, $--fs-extralarge);
        }
    }

    .band {
        height: 3%;
        width: 100%;
        background-color: $pink;
    }
}

.navbar {
    height: clamp(40px,7vh,70px);
    background-color: $pink;
    box-shadow: 0 5px 10px rgba(black, 0.3);
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 70%;
        }
    }

    ul {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            a {
                font-weight: bold;
                font-size: clamp($--fs-small, .8vw, $--fs-medium);
                text-shadow: 2px 3px 8px rgb(48, 48, 48);
                transition: 0.2s ease-in-out;
                position: relative;
                
                &:hover {
                    text-shadow: 0 0 5px rgba($pink-light, 0.8);
                    transition: 0.2s ease-in-out;
                } 
            }
        }
    }
}

.navbar .active {
    text-shadow: 0 0 5px rgba($pink-light, 0.8);

}

.active::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 2px;
    background-color: $pink-light;
    box-shadow: 0 0 5px rgba($pink-light, 0.8);
}

.toggle-btn-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: none;
    z-index: 3;

    &:hover i {
        filter: drop-shadow(0 0 8px rgba(white, 0.8));
        transition: 0.2s ease-in-out;
    }
}   

.dropdown-menu {

    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 20% 2rem;

    background-color: rgba(white, $alpha: 0.3);
    backdrop-filter: blur(15px);

    a {
        font-weight: bold;
        color: $pink;
        font-size: $--fs-medium;
        text-shadow: 0px 0px 5px $pink-light;
        transition: 0.2s ease-in-out;
        
        &:hover {
            color: $pink-light;
            transition: 0.2s ease-in-out;
        }
    } 
}

.open {
    display: flex;
}

// ----- FOOTER ----- //

footer{
    background-color: $pink;
    padding: 15px 20px;

    .foot-top {
        display: flex;
        justify-content:space-around;
        align-items: center;

        .logo_bot {
            display: flex;
            justify-content: center;

            img {
                max-width: 200px;
                padding: 20px;
            }
        }

        .infos {

            text-align: center;

            p, h3, a {
                margin: 5px;
            }
        }

        .follow {
            text-align: center;
            display: flex;
            align-items: center;

            p {
                margin: 0 5px;
            }

            img {
                height: 100%;
            }

            a {
                height: 30px;
                margin: 0 5px;
            }
        }
    }

    .foot-bot {
        display: flex;
        justify-content: space-between;
    }
}

.titre-section {
    margin-top: 5vh;
    padding: 1.5vmin 5vw;
    background: linear-gradient(90deg, rgba(204,113,115,1) 0%, rgba(247,235,232,1) 50%);

    h3 {
        display: inline;
        font-size: clamp($--fs-medium, 1.5vw, $--fs-large);
    }
}

.reverse {
    text-align: right;
    background: linear-gradient(-90deg, rgba(204,113,115,1) 0%, rgba(247,235,232,1) 50%);
}


// ----- PAGE ACCUEIL ----- //

.dix-ans {
    padding-block: min(20vh, 7rem);
    padding-inline: min(5vw, 5rem);
    max-width: 1500px;
    margin: auto;

    background-image: url(/assets/illustrations/backgroundStandPinklight.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    .texte {
        width: 100%;

        svg {
            width: max(200px, 15vw);

            .cls-1{fill:#984e52;}
            .cls-2{fill:url(#degradePinkToPinklight);}
        }

        p {
            width: 60%;
            color: $pink-dark;
            font-size: clamp($--fs-medium,1.5vw, $--fs-large);
            text-align: justify;
            font-family: 'TT Chocolade';
            padding-block: min(3vh,3rem);
        }
    }
}

.references {
    width: 100%;
}

.map {
    margin: max(5vw,4rem) 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-france, .map-europe {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-block: max(2vw,2rem);

    img {
        width: max(300px,25vw);
        object-fit: contain;
    }
}

.liste-salons-reverse {
    margin: auto 0;
    text-align: end;
}

.liste-salons {

    b {
        font-family: 'TT Chocolade';
    }

    h3 {
        display: inline-block;

        background-color: $pink-dark;
        color: $pink-light;
        font-size: clamp(18px,1.5vw,40px);
        padding: 1vw 3vw;
        border-radius: 25px;
        margin-bottom: 2rem;
    }

    li {        
        font-family: 'TT Chocolade';
        font-size: clamp(14px,1.2vw, 30px);
        padding-block: .5vw;
    }
}

.cle-en-main {
    width: 100%;

    ul {
        height: 60vmin;
        display: flex;
        justify-content: space-around;
        margin: 10vh auto;
        padding-inline: 2vw;
        align-items: start;

        
        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover .rond{
                background-color: $pink-dark;
                cursor: pointer;
            }

            &:hover .svg {
                fill: $pink-light;
                transition: 0.2s ease-in-out;
            }

            &:hover .titre-anime {
                filter: drop-shadow(1px 3px 5px rgba($pink-dark, 0.6));
                font-size: calc(max($--fs-large, 1.5vw) * 1.2);
                transition: 0.2s ease-in-out;
            }

            h4 {
                font-size: max($--fs-large, 1.5vw);
                margin-block: 1vh;
                color: $pink-dark;
                transition: 0.2s ease-in-out;
            }
        }
            
        li:nth-child(2), li:nth-child(4) {
            align-self: end;
        }
    }

    .connection {
        stroke: $pink-dark;
        stroke-width: max(1vw,10px);
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    #svgContainer {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        }
}

.rond {
    background-color: $pink-light;
    border: max(0.3vw, 4px) solid $pink-dark;
    padding: 3vw;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    
    img {
        width: 8vw;
    }

    svg {
        width: 8vw;
        aspect-ratio: 1;
        fill: $pink-dark;
        filter: drop-shadow(5px 5px 3px rgba($pink-dark, 0.4));
        transition: 0.2s ease-in-out;
        
    }
}

.realisations {
    background-image: url('/assets/illustrations/ressortsPink.jpg');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;    

    button {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        margin-inline: 1vw;

        &:hover svg {
            filter: drop-shadow(0 0 3px rgba($pink-dark, 0.5));
        }

        &:active svg {
            fill: $pink-dark;
        }
        
        svg {
            fill: $pink;
            width: clamp(20px,3vw,100px);
        }
    }    

    .left {
        transform: rotate(180deg);
    }
}

.caroussel {
    aspect-ratio: 16 / 9;
    width: clamp(300px, 70vw, 2000px);
    position: relative;
    filter: drop-shadow( 0 0 1rem rgba($pink, 1));

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }

    .legende {
        position: absolute;
        bottom: 2vh;
        right: 2vw;

        h3,p {
            font-size: clamp($--fs-medium,1.5vw,$--fs-large);
            color: $pink-light;
            text-align: center;
            filter: drop-shadow(2px 2px 5px rgba(black, 1));
        }
    }
}


// ----- PAGE SOLUTIONS D'EXPOSITIONS ----- //

html {
    position: relative;
}

.bubbles-section {
    display: flex;
    flex-direction: column;
}

.bulles {
    width: 700px;
    margin: 0 auto;
    padding: min(2rem, 5vw);

    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    justify-items: center;
    align-items: center;

    p {
        text-align: center;
        padding-inline: .3rem;
    }
}

.bulle-conseil {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);

    :nth-child(1) {
        grid-row: 1 / 4;
        grid-column: 1 / 4;
    }
    
    :nth-child(2) {
        grid-column: 6 / 8;
        grid-row: 2 / 4;
    }
    
    :nth-child(3) {
        grid-column: 4 / 6;
        grid-row: 4 / 6;
    }
    
    :nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 5 / 7;
    }
}

.bulle-conception {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(7, 1fr);

    :nth-child(1) {
        grid-column: 2 / 5;
        grid-row: 1 / 4;
    }

    :nth-child(2) {
        grid-column: 6 / 8;
        grid-row: 2 / 4;
    }

    :nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 5 / 7 ;
    }

    :nth-child(4) {
        grid-column: 6 / 8;
        grid-row: 5 / 7;
    }

    :nth-child(5) {
        grid-column: 4 / 6;
        grid-row: 7 / 9;
    }
}

.bulle-accompagnement {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);

    :nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    :nth-child(2) {
        grid-column: 6 / 8;
        grid-row: 2 / 4;
    }

    :nth-child(3) {
        grid-column: 2 / 4;
        grid-row: 5 / 7;
    }

    :nth-child(4) {
        grid-column: 5 / 7;
        grid-row: 6 / 8;
    }
}

.bulle-realisation {
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(7, 1fr);

    :nth-child(1) {
        grid-column: 2 / 5;
        grid-row: 1 / 4;
    }

    :nth-child(2) {
        grid-column: 6 / 8;
        grid-row: 2 / 4;
    }

    :nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 5 / 7;
    }

    :nth-child(4) {
        grid-column: 2 / 4;
        grid-row: 8 / 10;
    }

    :nth-child(5) {
        grid-column: 5 / 7;
        grid-row: 10 / 12;
    }

    :nth-child(6) {
        grid-column: 4 / 6;
        grid-row: 5 / 7;
    }

    :nth-child(7) {
        grid-column: 6 / 8;
        grid-row: 7 / 9;
    }
}

.minibulle {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: $pink-light;
    border: 0.3vw solid $pink-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
        width: 50%;
        fill: $pink-dark;
    }
}

.bubbles-section #svgContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.connection {
    stroke: $pink-dark;
    stroke-width: 1vw;
}

// SECTION RENDU 3D //

.render {
    aspect-ratio: 3909 / 2375;
    width: clamp(300px, 80vw, 2000px);
    max-height: 80vh;
    margin: 10vh auto;
    border-radius: 20px;
    box-shadow: 0 0px 2rem rgba($pink, 1);

    background-image: url(/assets/stands/vue3D.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.alternate {
    background-image: url(/assets/stands/final-render.jpg);
}


// BOUTON CHECKBOX //

.slider-button {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 1rem;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid $pink;
    border-radius: 20px;
    background: $pink;
    font-weight: bold;
    color: $pink;
    cursor: pointer;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:20px;
    background: $pink-light;
    transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox {
    display: none;      
}

.toggleCheckbox:checked + .toggleContainer div:first-child{
    color: $pink-light;
    transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child{
    color: $pink;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child{
    color: $pink;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child{
    color: $pink-light;
    transition: color 0.3s;
}


//  ----- PAGE NOS REALISATIONS  ----- //

.page-nos-realisations {
    margin: 0 0 10vh 0;

    .btn {
        padding: 5vh 2vw;

        button {
            border: 2px solid $pink;
            border-radius: 5px;
            color: $pink;
            background-color: white;
            padding: 1vmin;

            &:hover {
                background-color: $pink;
                color: $pink-light;
                transition: 0.2s;
            }

            &:active {
                background-color: $pink;
                color: $pink-light;
            }
        }

        .selected {
            background-color: $pink;
            color: $pink-light;
        }
    }

    .gallerie {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max(25vw,300px), 1fr));
        justify-content: center;
        gap: 3rem;
        padding-inline: 2rem;

        a {
            color: $pink-dark;

            h3 {
                margin: 1vh 0;
                font-weight: bold;
                font-size: $--fs-medium;
            }


            img{
                border-radius: 20px;
                display: block;
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;

                &:hover {
                    filter: drop-shadow(0 0px 10px rgba($pink, 1));
                }
            }
        }
    }
}


// ----- PAGE CONTACT ----- //

.contact {
    display: flex;
    justify-content: space-around;
    padding: 5vh 3vw;
    
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2, h3, h4 {
            color: $pink-dark;  
            margin: 2vh 0;
        }

        h2 {
            text-align: center;
            font-size: 4vh;
            font-weight: bold;
        }

        h3 {
            font-size: 3vh;
        }

        h4 {
            font-size: 2vh;
        }

        img {
            width: 70%;
            padding: 3vmin; 
        }

    }

    .right {
        

        form {
            display: flex;
            flex-direction: column;

            input:focus, textarea:focus{
                outline: 2px solid $pink-dark;
            }

            .np{
                display: flex;
                gap: .7rem;
            } 

        }

        input[type=text], textarea, input[type=email], input[type=tel] {
            padding: .8rem;
            border: none;
            background-color: $pink-light;
            border-radius: 10px;
            resize: vertical;
            margin: 2vmin 0;
            font-size: 2vh;
            color: $pink-dark;
            width: 100%;
          }

        input[type=submit]{
            margin: auto;
            background-color: $pink;
            border-radius: 10px;
            border: none;
            color: $pink-light;
            font-weight: bold;
            font-size: 2vh;
            padding: .5rem 1rem;
        }
    }
}


// ----- MEDIA QUERIES ----- //

@media screen and (max-width: 700px) {
    
    .navbar ul {
        display: none;
    }
    
    .toggle-btn-menu {
        display: block;
    }

    .map-france, .map-europe {
        img {
            width: 40vw;
        }
    }

    .cle-en-main {

        ul {
        flex-direction: column;
        height: 100%;

            li {
                flex-direction: row-reverse;

                h4 {
                    padding-inline: 2vw;
                }
            }
        }
        
        .rond svg {
            width: 20vw;
            padding-block: 1vw;
        }
    }
    
    .section-3D {
        .render {
            margin-bottom: 15vh;
        }
        .slider-button {
            position: absolute;
            bottom: -4rem;
        }
    }

    .contact {
        flex-direction: column;

        .np {
            flex-direction: row;
            width: 100%;
        }

        .left { 
            width: 100%;
        }
    }

    footer .foot-top {
        flex-direction: column;
        .infos {
            padding-block: 2rem;
            width: 100%;

        }

        .follow {
            width: 100%;
            padding-bottom: 2rem;
            justify-content: center;
        }
    }

    footer .foot-bot {
        flex-direction: column;
    }


}

@media screen and (max-width: 1100px) {

    .dix-ans .texte p{
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {

    .rond svg {
        width: 12vw;
    }
    
}