@charset "UTF-8";
@font-face {
  font-family: "Caviar Dreams";
  src: url("/fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("/fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Caviar Dreams Italic";
  src: url("/fonts/CaviarDreams_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Brittany Signature";
  src: url("/fonts/BrittanySignature.ttf") format("truetype");
}
@font-face {
  font-family: "Blacker Sans";
  src: url("/fonts/Blacker-Sans-Extrabold-trial.ttf") format("truetype");
}
@font-face {
  font-family: "Coco Gothic Bold Italic";
  src: url("/fonts/CocoGothic-BoldItalic_trial.ttf") format("truetype");
}
@font-face {
  font-family: "TT Chocolade";
  src: url("/fonts/TT Chocolates Trial Medium.otf") format("truetype");
}
* {
  font-family: "Caviar Dreams", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #984E52;
}

.pink {
  background-color: #CC7173;
}

.txt-pinklight {
  color: #F7EBE8;
}

.txt-pinkdark {
  color: #984E52;
}

.glow-pinkdark {
  filter: drop-shadow(5px 5px 5px #984E52);
}

.shadow {
  filter: drop-shadow(1px 5px 3px rgba(0, 0, 0, 0.5));
}

.caviar-bold {
  font-family: "Caviar Dreams Bold";
}

.coco-bold-italic {
  font-family: "Coco Gothic Bold Italic";
}

.degrade-txt-pink {
  color: linear-gradient(90deg, rgb(204, 113, 115) 0%, rgb(247, 235, 232) 50%);
}

strong {
  font-family: "TT Chocolade";
  color: #984E52;
}

nav *, footer * {
  color: #F7EBE8;
}

nav {
  width: 100%;
  height: 8vh;
  background-color: #CC7173;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 50px;
}
nav img {
  height: 70%;
}
nav a {
  font-family: "Caviar Dreams Bold";
  font-size: 2vh;
  text-shadow: 2px 3px 8px rgb(48, 48, 48);
  transition: 0.2s ease-in-out;
}
nav a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  transition: 0.2s ease-in-out;
}

footer {
  background-color: #CC7173;
  padding: 15px 20px;
}
footer .foot-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .foot-top .logo_bot {
  width: 30%;
  display: flex;
  justify-content: center;
}
footer .foot-top .logo_bot img {
  max-width: 200px;
  padding: 20px;
}
footer .foot-top .infos {
  text-align: center;
  width: 30%;
}
footer .foot-top .infos p, footer .foot-top .infos h3, footer .foot-top .infos a {
  margin: 5px;
}
footer .foot-top .follow {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot-top .follow p {
  margin: 0 5px;
}
footer .foot-top .follow img {
  width: 30px;
  margin: 0 5px;
}
footer .foot-bot {
  display: flex;
  justify-content: space-between;
}

.active {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.titre-section {
  margin-top: 5vh;
  padding: 1vmin 5vw;
  background: linear-gradient(90deg, rgb(204, 113, 115) 0%, rgb(247, 235, 232) 50%);
}
.titre-section h3 {
  display: inline;
  font-size: 3vmin;
}

.reverse {
  text-align: right;
  background: linear-gradient(-90deg, rgb(204, 113, 115) 0%, rgb(247, 235, 232) 50%);
}

main .home {
  height: 89vh;
  background-image: url("pellenc.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .home img {
  height: 50%;
  filter: drop-shadow(5px 5px 5px #984E52);
}
main .home h1 {
  font-family: "Blacker Sans";
  font-size: 4vh;
}
main .home h2 {
  font-family: "Caviar Dreams Italic";
  font-size: 3vh;
}
main .band {
  height: 3vh;
  width: 100%;
  background-color: #CC7173;
}
main .dix-ans {
  padding: 10vh;
  position: relative;
  max-width: 1800px;
  margin: auto;
}
main .dix-ans .texte h2 {
  font-size: 7vh;
  margin: 2vh 0;
  background: linear-gradient(90deg, rgb(204, 113, 115) 0%, rgb(247, 235, 232) 20%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .dix-ans .texte p {
  width: 50vw;
  color: #984E52;
  font-size: 2.5vh;
  font-family: "TT Chocolade";
  margin: 3vh 20px;
  text-align: justify;
}
main .dix-ans img {
  opacity: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
}
main .references {
  width: 100%;
}
main .references .map {
  height: 800px;
}
main .cle-en-main {
  width: 100%;
}
main .cle-en-main ul {
  height: 60vmin;
  display: flex;
  justify-content: space-around;
  margin: 10vh auto;
  align-items: center;
  position: relative;
}
main .cle-en-main ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cle-en-main ul li:hover .rond {
  background-color: #984E52;
  cursor: pointer;
}
main .cle-en-main ul li:hover .svg {
  fill: #F7EBE8;
  transition: 0.2s ease-in-out;
  width: 10vw;
  height: 10vw;
}
main .cle-en-main ul li:hover .titre-anime {
  filter: drop-shadow(1px 3px 5px rgba(152, 78, 82, 0.6));
  font-size: 3vmin;
  transition: 0.2s ease-in-out;
}
main .cle-en-main ul li .rond {
  background-color: #F7EBE8;
  border: 0.3vw solid #984E52;
  padding: 3vw;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
main .cle-en-main ul li .rond img {
  width: 8vw;
}
main .cle-en-main ul li .rond svg {
  width: 8vw;
  height: 8vw;
  fill: #984E52;
  filter: drop-shadow(5px 5px 3px rgba(152, 78, 82, 0.4));
  transition: 0.2s ease-in-out;
}
main .cle-en-main ul li h4 {
  font-size: 2.5vmin;
  margin: 1vh;
  color: #984E52;
  transition: 0.2s ease-in-out;
}
main .cle-en-main ul li:nth-child(2) {
  align-self: end;
}
main .cle-en-main ul li:nth-child(3) {
  align-self: start;
}
main .cle-en-main .ma-ligne {
  stroke: #984E52; /* Couleur de la ligne */
  stroke-width: 1vw; /* Épaisseur de la ligne */
  stroke-linecap: round;
  stroke-linejoin: round;
}
main .cle-en-main #svg-connect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* SVG sera sous les cercles avec un z-index négatif */
}
main .realisations {
  background-image: url("/img/logo/ressort tapisserie.jpg");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
main .realisations button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-inline: 1vw;
}
main .realisations button:hover svg {
  filter: drop-shadow(0 0 3px rgba(152, 78, 82, 0.5));
}
main .realisations button:active svg {
  fill: #CC7173;
}
main .realisations button svg {
  fill: #984E52;
}
main .realisations .left {
  transform: rotate(180deg);
}
main .realisations a {
  width: 70vw;
  height: 70vh;
  position: relative;
}
main .realisations a img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .realisations a .legende {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}
main .realisations a .legende h3, main .realisations a .legende p {
  color: #F7EBE8;
  text-align: center;
  filter: drop-shadow(0 0 10px #f7ebe8);
}

.page-solutions .bulle-conseil {
  margin: 10vh auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(35, 1fr);
  -moz-column-gap: 2px;
       column-gap: 2px;
  row-gap: 2px;
  justify-items: center;
  align-items: center;
  position: relative;
}
.page-solutions .bulle-conseil :nth-child(1) {
  grid-row: 1/4;
  grid-column: 1/4;
}
.page-solutions .bulle-conseil :nth-child(2) {
  grid-column: 6/8;
  grid-row: 2/4;
}
.page-solutions .bulle-conseil :nth-child(3) {
  grid-column: 4/6;
  grid-row: 4/6;
}
.page-solutions .bulle-conseil :nth-child(4) {
  grid-column: 1/3;
  grid-row: 5/7;
}
.page-solutions .bulle-conseil :nth-child(5) {
  grid-column: 5/8;
  grid-row: 7/10;
}
.page-solutions .bulle-conseil :nth-child(6) {
  grid-column: 2/4;
  grid-row: 8/10;
}
.page-solutions .bulle-conseil :nth-child(7) {
  grid-column: 1/3;
  grid-row: 11/13;
}
.page-solutions .bulle-conseil :nth-child(8) {
  grid-column: 6/8;
  grid-row: 11/13;
}
.page-solutions .bulle-conseil :nth-child(9) {
  grid-column: 4/6;
  grid-row: 13/15;
}
.page-solutions .bulle-conseil :nth-child(10) {
  grid-column: 1/4;
  grid-row: 16/19;
}
.page-solutions .bulle-conseil :nth-child(11) {
  grid-column: 6/8;
  grid-row: 17/19;
}
.page-solutions .bulle-conseil :nth-child(12) {
  grid-column: 2/4;
  grid-row: 20/22;
}
.page-solutions .bulle-conseil :nth-child(13) {
  grid-column: 5/7;
  grid-row: 21/23;
}
.page-solutions .bulle-conseil :nth-child(14) {
  grid-column: 2/5;
  grid-row: 24/27;
}
.page-solutions .bulle-conseil :nth-child(15) {
  grid-column: 6/8;
  grid-row: 25/27;
}
.page-solutions .bulle-conseil :nth-child(16) {
  grid-column: 1/3;
  grid-row: 28/30;
}
.page-solutions .bulle-conseil :nth-child(17) {
  grid-column: 2/4;
  grid-row: 31/33;
}
.page-solutions .bulle-conseil :nth-child(18) {
  grid-column: 5/7;
  grid-row: 33/35;
}
.page-solutions .bulle-conseil :nth-child(19) {
  grid-column: 4/6;
  grid-row: 28/30;
}
.page-solutions .bulle-conseil :nth-child(20) {
  grid-column: 6/8;
  grid-row: 30/32;
}
.page-solutions .bulle-conseil .minibulle {
  border: 1px solid black;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #F7EBE8;
  border: 0.3vw solid #984E52;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-solutions svg {
  width: 100%;
  height: 1000%;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.page-solutions svg .connection {
  stroke: #984E52;
  stroke-width: 1vw;
}

.page-nos-realisations {
  margin: 0 0 10vh 0;
}
.page-nos-realisations .btn {
  padding: 5vh 2vw;
}
.page-nos-realisations .btn button {
  border: 2px solid #984E52;
  border-radius: 5px;
  color: #984E52;
  background-color: white;
  padding: 1vmin;
}
.page-nos-realisations .btn button:hover {
  background-color: #F7EBE8;
  transition: 0.2s;
}
.page-nos-realisations .btn button:active {
  background-color: #984E52;
  color: #F7EBE8;
}
.page-nos-realisations .btn .selected {
  background-color: #984E52;
  color: #F7EBE8;
}
.page-nos-realisations .gallerie {
  max-width: 2000px;
  padding-inline: 2vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.page-nos-realisations .gallerie li {
  margin-top: 5vh;
}
.page-nos-realisations .gallerie li h3 {
  margin: 1vh 0;
  font-weight: bold;
  font-size: 3vh;
}
.page-nos-realisations .gallerie li img {
  max-width: 600px;
  border-radius: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0;
}
.contact .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .left h2, .contact .left h3, .contact .left h4 {
  color: #984E52;
  margin: 2vh 0;
}
.contact .left h2 {
  font-size: 4vh;
  font-family: "Caviar Dreams Bold";
}
.contact .left h3 {
  font-size: 3vh;
}
.contact .left h4 {
  font-size: 2vh;
}
.contact .left img {
  width: 20vw;
  padding: 3vmin;
}
.contact .right {
  align-content: center;
}
.contact .right form {
  display: flex;
  flex-direction: column;
}
.contact .right form .np {
  display: inline;
}
.contact .right input[type=text], .contact .right textarea, .contact .right input[type=email], .contact .right input[type=tel] {
  padding: 12px;
  border: none;
  background-color: #F7EBE8;
  border-radius: 10px;
  resize: vertical;
  margin: 2vmin 100px;
  font-size: 2vh;
  color: #984E52;
}
.contact .right input[type=submit] {
  width: 7vw;
  height: 3vh;
  margin: auto;
  background-color: #CC7173;
  border-radius: 10px;
  border: none;
  color: #F7EBE8;
  font-weight: bold;
  font-size: 2vh;
}/*# sourceMappingURL=style.css.map */